# Logistic Regression Assumptions
### Box-Tidwell Test
- Using R to perform Box-Tidwell Test (or Assumption 2: Linearity of independent variables and log odds)
- This is because Python does not have any packages that executes Box Tidwell transformation
- Details on how to setup R kernel in Jupyter notebook: https://dzone.com/articles/using-r-on-jupyternbspnotebook

#### References
- https://stats.stackexchange.com/questions/503906/solution-in-case-of-violation-of-the-linearity-assumption-in-the-logistic-regres

In [6]:
df_main <- read.csv(file = 'data/train_processed.csv')

In [7]:
head(df_main)

  Survived Age TravelAlone Pclass_2 Pclass_3 Embarked_Q Embarked_S Sex_male
1 0        22  0           0        1        0          1          1
2 1        38  0           0        0        0          0          0
3 1        26  1           0        1        0          1          0
4 1        35  0           0        0        0          1          0
5 0        35  1           0        1        0          1          1
6 0        28  1           0        1        1          0          1